.accordion {
  .accordion-item {
    border-radius: 4px;
    margin-bottom: 10px;

    .accordion-header {
      cursor: pointer;
      padding: 10px 10px 15px 0;
      margin: 0;
      border-bottom: 2px solid #CBCBCC;
      color: #7D7D7D;
      transition: border-color 0.3s;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        border-bottom: 2px solid #3E29E3;
        color: #1B1B1B;
      }

      &:after {
        content: '\2304';
        margin-left: auto;
        color: #3E29E3;
        transition: transform 0.1s ease-in-out;
      }
    }

    .accordion-content {
      display: none;
      padding: 24px 15px 30px 0;
      border-bottom: 2px solid #3E29E3;
    }

    &.active {
      .accordion-header {
        border-bottom: 2px solid #3E29E3;
        color: #3E29E3;
        &:after {
          transform: rotate(0.5turn) translate(0%, -30%);
        }
      }

      .accordion-content {
        display: block;
      }
    }
  }
}
