<div class="accordion" data-controller="accordion">
  {{#each items}}
    <div class="accordion-item">
      <div class="p-regular accordion-header" data-action="click->accordion#toggle">
        {{this.title}}
      </div>
      <div class="accordion-content p-regular">
        {{this.content}}
      </div>
    </div>
  {{/each}}
</div>
