body {
  font-family: Graphik, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1312px;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .container {
    max-width: 928px;
  }
}

@media (max-width: 736px) {
  .container {
    max-width: 424px;
    padding: 0 12px;
  }
}

.grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 1200px) {
  .grid {
    gap: 32px;
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 736px) {
  .grid {
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
  }
}

h1, h2, h3, h4, .p-lead, .p-large, .p-regular, .p-small {
  margin: 0 0 16px;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

.p-lead {
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
}

.p-large {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
}

.p-regular {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.p-small {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }

  h2 {
    font-size: 28px;
    line-height: 36px;
  }

  h3 {
    font-size: 20px;
    line-height: 28px;
  }

  h4 {
    font-size: 18px;
    line-height: 28px;
  }

  .p-lead {
    font-size: 20px;
    line-height: 28px;
  }

  .p-large {
    font-size: 18px;
    line-height: 28px;
  }

  .p-regular {
    font-size: 16px;
    line-height: 24px;
  }

  .p-small {
    font-size: 14px;
    line-height: 20px;
  }
}
