$font-family: Graphik, sans-serif;
$primary-color: #333;

$mobile-h1-size: 32px;
$mobile-h1-line-height: 40px;
$mobile-h2-size: 28px;
$mobile-h2-line-height: 36px;
$mobile-h3-size: 20px;
$mobile-h3-line-height: 28px;
$mobile-h4-size: 18px;
$mobile-h4-line-height: 28px;
$mobile-p-lead-size: 20px;
$mobile-p-lead-line-height: 28px;
$mobile-p-large-size: 18px;
$mobile-p-large-line-height: 28px;
$mobile-p-regular-size: 16px;
$mobile-p-regular-line-height: 24px;
$mobile-p-small-size: 14px;
$mobile-p-small-line-height: 20px;
