$font-family: Graphik, sans-serif;
$primary-color: #333;

$desktop-columns: 12;
$tablet-columns: 8;
$mobile-columns: 4;

$desktop-gap: 32px;
$tablet-gap: 32px;
$mobile-gap: 24px;

$desktop-min-width: 1072px;
$desktop-max-width: 1312px;
$tablet-min-width: 672px;
$tablet-max-width: 928px;
$mobile-min-width: 296px;
$mobile-max-width: 424px;

$h1-size: 48px;
$h1-line-height: 56px;
$h2-size: 32px;
$h2-line-height: 40px;
$h3-size: 24px;
$h3-line-height: 32px;
$h4-size: 18px;
$h4-line-height: 28px;
$p-lead-size: 24px;
$p-lead-line-height: 32px;
$p-large-size: 18px;
$p-large-line-height: 28px;
$p-regular-size: 16px;
$p-regular-line-height: 24px;
$p-small-size: 14px;
$p-small-line-height: 20px;
