@import 'variables';
@import 'mobilevariables';

body {
  font-family: $font-family;
  color: $primary-color;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: $desktop-max-width;
  box-sizing: border-box;
  display: grid;


  @media (max-width: 1200px) {
    max-width: $tablet-max-width;
  }

  @media (max-width: 736px) {
    max-width: $mobile-max-width;
    padding: 0 12px;
  }
}

.grid {
  display: grid;
  gap: $desktop-gap;
  grid-template-columns: repeat($desktop-columns, 1fr);

  @media (max-width: 1200px) {
    gap: $tablet-gap;
    grid-template-columns: repeat($tablet-columns, 1fr);
  }

  @media (max-width: 736px) {
    gap: $mobile-gap;
    grid-template-columns: repeat(4, 1fr);
  }
}

h1, h2, h3, h4, .p-lead, .p-large, .p-regular, .p-small {
  margin: 0 0 16px;
}

h1 {
  font-size: $h1-size;
  line-height: $h1-line-height;
  font-weight: bold;
}

h2 {
  font-size: $h2-size;
  line-height: $h2-line-height;
  font-weight: bold;
}

h3 {
  font-size: $h3-size;
  line-height: $h3-line-height;
  font-weight: 500; // medium
}

h4 {
  font-size: $h4-size;
  line-height: $h4-line-height;
  font-weight: 500; // medium
}

.p-lead {
  font-size: $p-lead-size;
  line-height: $p-lead-line-height;
  font-weight: normal;
}

.p-large {
  font-size: $p-large-size;
  line-height: $p-large-line-height;
  font-weight: normal;
}

.p-regular {
  font-size: $p-regular-size;
  line-height: $p-regular-line-height;
  font-weight: normal;
}

.p-small {
  font-size: $p-small-size;
  line-height: $p-small-line-height;
  font-weight: normal;
}

@media (max-width: 768px) {
  h1 {
    font-size: $mobile-h1-size;
    line-height: $mobile-h1-line-height;
  }

  h2 {
    font-size: $mobile-h2-size;
    line-height: $mobile-h2-line-height;
  }

  h3 {
    font-size: $mobile-h3-size;
    line-height: $mobile-h3-line-height;
  }

  h4 {
    font-size: $mobile-h4-size;
    line-height: $mobile-h4-line-height;
  }

  .p-lead {
    font-size: $mobile-p-lead-size;
    line-height: $mobile-p-lead-line-height;
  }

  .p-large {
    font-size: $mobile-p-large-size;
    line-height: $mobile-p-large-line-height;
  }

  .p-regular {
    font-size: $mobile-p-regular-size;
    line-height: $mobile-p-regular-line-height;
  }

  .p-small {
    font-size: $mobile-p-small-size;
    line-height: $mobile-p-small-line-height;
  }
}
