<div class="grid-element">
  <h3 class="grid-element-name">{{{gridElementName}}}</h3>
  <div class="grid-children">
    {{{children}}}
  </div>
  <img class="grid-image" src="{{image}}" alt="image">
</div>
