.grid-element {
  display: grid;
  @media (max-width: 1200px) {
    grid-column: 1 / 8;
    grid-template-columns: repeat(5, 1fr);
  }

  @media (max-width: 736px) {
    grid-column: 1 / -1;
  }
  grid-gap: 16px;
}

.grid-element-name {
  grid-column: 1 / 4;
  color: #1B1B1B;
}

.grid-children {
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 16px;

  @media (max-width: 1200px) {
    grid-column: 1 / 8;
    grid-template-columns: repeat(5, 1fr);
  }

  @media (max-width: 736px) {
    grid-column: 1 / -1;
    grid-template-columns: 1fr;
  }
}

.grid-image {
  grid-column: 1 / -1;
  margin-top: 48px;
  margin-bottom: 64px;
  width: 100%;
  height: auto;

  @media (max-width: 1200px) {
    grid-column: 1 / 8;
  }

  @media (max-width: 736px) {
    grid-column: 1 / -1;
  }
}
