.grid-desc {
  display: grid;
  grid-column: 4 / 12;
  grid-template-columns: repeat(8, 1fr);

  @media (max-width: 1200px) {
    grid-column: 2 / 8;
  }

  @media (max-width: 736px) {
    grid-column: 1 / -1;
  }

  .grid-text {
    display: grid;
    grid-column: 1 / 6;
    @media (max-width: 1200px) {
      grid-column: 1 / -1;
    }

    @media (max-width: 736px) {
      grid-column: 1 / 10;
    }
  }
}

.grid-content {
  display: grid;
  grid-column: 4 / -1;
  gap: 16px;
  grid-auto-flow: row;

  @media (max-width: 1200px) {
    grid-column: 2 / 8;
  }

  @media (max-width: 736px) {
    grid-column: 1 / -1;
  }
}

