<div class="grid-desc">
  <h2 id="grid">Сетка</h2>
  <span class="p-regular grid-text">Задание предполагает адаптивную вёрстку. Используется 3 состояния в зависимости от устройства. Сетка «резиновая» — переменной ширины.</span>
</div>

<div class="grid-content">
  {{{gridContent}}}
</div>
