.gradient-button {
  display: grid;
  @media (max-width: 1200px) {
    grid-column: 1 / 2;
  }
  padding: 16px 32px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  color: white;
  background: linear-gradient(90deg, #AE41FF, #1B1BF2);
  cursor: pointer;
  transition: background 0.3s, transform 0.1s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.gradient-button:hover {
  background: linear-gradient(90deg, #D784FF, #5C5CF4);
}

.gradient-button:active {
  background: linear-gradient(90deg, #7033FF, #2710DC);
  transform: scale(0.95);
}

.gradient-button.disabled,
.gradient-button:disabled {
  background: #E0E0E0;
  color: #B8B8B8;
  cursor: not-allowed;
  box-shadow: none;
}
