.left-menu-element-link {
  margin: 0;
  color: #7D7D7D;
  text-decoration: none;
}

.left-menu-element-link:hover {
  color: #1B1B1B;
  cursor: pointer;
}

.left-menu-element-link:active,
.left-menu-element-link:focus {
  color: #3E29E3;
}
