.dropdown {
  display: grid;
  gap: 5px;
  position: relative;
  @media (max-width: 1200px) {
    grid-column: 1 / 2;
  }

  .label {
    padding-left: 0;
    position: absolute;
    top: 10px;
    transition: all 0.3s;
    pointer-events: none;
  }

  &.focus .label,
  &.filled .label {
    top: -10px;
    font-size: 12px;
    color: #7D7D7D;
  }

  .input-container {
    display: flex;
    align-items: center;

    input {
      padding: 10px 10px 6px 0;
      border: none;
      border-bottom: 2px solid #AEADAE;
      font-size: 16px;
      transition: border-color 0.3s;
      flex-grow: 1;

      &:hover {
        border-bottom: 2px solid #3E29E3;
      }

      &:focus {
        border-bottom: 4px solid #3E29E3;
        outline: none;
      }

      &.filled {
        border-bottom: 4px solid #3E29E3;
      }
    }

    .arrow:after {
      position: relative;
      top: -8px;
      left: -16px;
      content: '\2304';
      cursor: pointer;
      font-size: 16px;
      color: #3E29E3;
      transition: color 0.3s, transform 0.3s;
    }
  }

  .dropdown-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    box-shadow: 0 8px 16px 0 #00000014;
    background: white;
    z-index: 10;

    .dropdown-item {
      padding: 16px 24px;
      cursor: pointer;
      transition: background 0.3s, color 0.3s;

      &:hover {
        background: #3E29E3;
        color: white;
      }

      &.selected {
        color: #3D28E1;
      }
    }
  }

  &.focus .dropdown-list,
  &.show-list .dropdown-list {
    display: block;

    .arrow:after {
      transform: rotate(180deg);
    }
  }
}
