<div class="dropdown {{{state}}}" data-controller="dropdown">
  <label class="label p-regular" data-dropdown-target="label">{{label}}</label>
  <div class="input-container" data-action="click->dropdown#toggleDropdown">
    <input type="text" class="default p-regular" data-dropdown-target="input" readonly value="{{value}}">
    <div class="arrow" data-dropdown-target="arrow"></div>
  </div>
  <ul class="dropdown-list" data-dropdown-target="list">
    {{#each options}}
      <li class="dropdown-item" data-value="{{this}}" data-action="click->dropdown#selectOption">{{this}}</li>
    {{/each}}
  </ul>
</div>
