.typography {
  display: grid;
  grid-column: 4 / 12;
  grid-template-columns: repeat(8, 1fr);
  @media (max-width: 1200px) {
    grid-column: 2 / -1;
  }

  @media (max-width: 736px) {
    grid-column: 1 / -1;
  }

  .typography-desc {
    display: grid;
    grid-column: 1 / 6;
    @media (max-width: 1200px) {
      grid-column: 1 / 8;
    }

    @media (max-width: 736px) {
      grid-column: 1 / 4;
    }
  }
}

.typography-table {
  display: grid;
  grid-column: 1 / -1;

  @media (max-width: 1200px) {
    grid-column: 1 / -1;
  }

  @media (max-width: 736px) {
    grid-column: 1 / -1;
  }

  .tab-select {
    display: flex;
    border-bottom: 1px solid #CBCBCC;
    margin-bottom: 10px;

    .tab {
      padding: 10px 0;
      margin-right: 32px;
      margin-bottom: 0;
      border: none;
      background: none;
      cursor: pointer;
      transition: color 0.3s;

      &.active {
        color: #000000;
        border-bottom: 2px solid #3E29E3;
        font-weight: bold;
      }

      &:not(.active) {
        color: #7D7D7D;
      }

      &:hover:not(.active) {
        color: #000000;
      }
    }
  }

  .desktop, .mobile {
    display: none;
  }

  .desktop.active, .mobile.active {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    .text-group {
      display: contents;

      .label {
        grid-column: 1 / 4;
        color: #7D7D7D;
        align-self: center;
      }

      .text-content {
        grid-column: 5 / -1;
      }
    }
  }

  .mobile h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .mobile h2 {
    font-size: 28px;
    line-height: 36px;
  }

  .mobile h3 {
    font-size: 20px;
    line-height: 28px;
  }

  .mobile h4 {
    font-size: 18px;
    line-height: 28px;
  }

  .mobile .p-lead {
    font-size: 20px;
    line-height: 28px;
  }

  .mobile .p-large {
    font-size: 18px;
    line-height: 28px;
  }

  .mobile .p-regular {
    font-size: 16px;
    line-height: 24px;
  }

  .mobile .p-small {
    font-size: 14px;
    line-height: 20px;
  }
}
