<div class="typography">
  <h2 id="typography">Типографика</h2>
  <span
    class="p-regular typography-desc">Используется шрифт Graphik. На телефонах стили типографики переопределяются</span>
  <div class="typography-table" data-controller="typography">
    <div class="tab-select">
      <button class="tab active p-regular" data-action="click->typography#desktop">Десктоп</button>
      <button class="tab p-regular" data-action="click->typography#phone">Телефон</button>
    </div>
    <div class="desktop" data-typography-target="desktop">
      <div class="text-group">
        <span class="p-small label">Заголовок H1, 48/56, bold</span>
        <h1 class="text-content">Текст заголовка</h1>
      </div>
      <div class="text-group">
        <span class="p-small label">Заголовок H2, 32/40, bold</span>
        <h2 class="text-content">Текст заголовка</h2>
      </div>
      <div class="text-group">
        <span class="p-small label">Заголовок H3, 24/32, medium</span>
        <h3 class="text-content">Текст заголовка</h3>
      </div>
      <div class="text-group">
        <span class="p-small label">Заголовок H4, 18/28, medium</span>
        <h4 class="text-content">Текст заголовка</h4>
      </div>
      <div class="text-group">
        <span class="p-small label">Лид P_Lead, 24/32, regular</span>
        <p class="p-lead text-content">Текст лида</p>
      </div>
      <div class="text-group">
        <span class="p-small label">Крупный текст P_18, 18/28, regular</span>
        <p class="p-large text-content">Крупный текст</p>
      </div>
      <div class="text-group">
        <span class="p-small label">Основной текст P_16, 16/24, regular</span>
        <p class="p-regular text-content">Основной текст</p>
      </div>
      <div class="text-group">
        <span class="p-small label">Вспомогательный текст P_14, 14/20, regular</span>
        <p class="p-small text-content">Вспомогательный текст</p>
      </div>
    </div>
    <div class="mobile" data-typography-target="mobile">
      <div class="text-group">
        <span class="p-small label">Заголовок H1, 32/40, bold</span>
        <h1 class="text-content">Текст заголовка</h1>
      </div>
      <div class="text-group">
        <span class="p-small label">Заголовок H2, 28/36, bold</span>
        <h2 class="text-content">Текст заголовка</h2>
      </div>
      <div class="text-group">
        <span class="p-small label">Заголовок H3, 20/28, medium</span>
        <h3 class="text-content">Текст заголовка</h3>
      </div>
      <div class="text-group">
        <span class="p-small label">Заголовок H4, 18/28, medium</span>
        <h4 class="text-content">Текст заголовка</h4>
      </div>
      <div class="text-group">
        <span class="p-small label">Лид P_Lead, 20/28, regular</span>
        <p class="p-lead text-content">Текст лида</p>
      </div>
      <div class="text-group">
        <span class="p-small label">Крупный текст P_18, 18/28, regular</span>
        <p class="p-large text-content">Крупный текст</p>
      </div>
      <div class="text-group">
        <span class="p-small label">Основной текст P_16, 16/24, regular</span>
        <p class="p-regular text-content">Основной текст</p>
      </div>
      <div class="text-group">
        <span class="p-small label">Вспомогательный текст P_14, 14/20, regular</span>
        <p class="p-small text-content">Вспомогательный текст</p>
      </div>
    </div>
  </div>
</div>
