<!--ui-text-field.hbs-->
<div class="text-field {{{state}}}" data-controller="text-field">
  <label class="label p-regular" data-text-field-target="label">{{label}}</label>
  <input type="email" class="default p-regular" data-text-field-target="input"
         data-action="focus->text-field#onFocus blur->text-field#onBlur input->text-field#onInput" value="{{value}}">
  <p class="error-text" data-text-field-target="errorText">Текст ошибки</p>
</div>
