// ui-text-field.scss
.text-field {
  display: grid;
  gap: 5px;
  position: relative;
  @media (max-width: 1200px) {
    grid-column: 1 / 2;
  }
  

  .label {
    padding-left: 0;
    position: absolute;
    top: 10px;
    font-size: 16px;
    transition: all 0.3s;
    pointer-events: none;
  }

  &.focus .label,
  &.filled .label {
    top: -10px;
    font-size: 12px;
    color: #7D7D7D;
  }

  &.error .label {
    top: -10px;
    left: 0;
    font-size: 12px;
    line-height: 20px;
    color: #E80F3B;
  }

  input {
    padding: 10px 10px 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s;

    &:hover {
      border-bottom: 2px solid #3E29E3;
    }

    &:focus {
      border-bottom: 4px solid #3E29E3;
      outline: none;
    }

    &.filled {
      border-bottom: 4px solid #3E29E3;
    }

    &.error {
      border-bottom: 2px solid #E80F3B;
    }
  }

  .error-text {
    color: #f44336;
    font-size: 12px;
    margin: 0;
    display: none;
  }
}
