.task-description {
  display: grid;
  grid-column: 4 / 10;
  grid-row: 2;
  grid-template-columns: repeat(6, 10fr);

  @media(max-width: 1200px) {
    grid-column: 2 / 8;
  }
  @media(max-width: 736px) {
    grid-column: 1 / -1;
  }


  .desc-text {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .level-text {
    margin-top: 16px;
    display: block;
    grid-column: 1 / -1;
    grid-row: 1;
  }
}

.task-info {
  display: grid;
  grid-column: 4 / 12;
  grid-template-columns: repeat(8, 1fr);
  @media(max-width: 1200px) {
    grid-column: 2 / 8;
  }
  @media(max-width: 736px) {
    grid-column: 1 / -1;
  }

  .desc-info {
    margin-top: 48px;
    display: grid;
    grid-column: 1 / 6;
    @media (max-width: 1200px) {
      grid-column: 1 / 8;
    }

    @media (max-width: 736px) {
      grid-column: 1 / -1;
    }
  }
}
