<div class="task-description">
  <h1 id="test task" class="desc-text">
    Тестовое задание
    <span class="level-text p-lead">Уровень: junior</span>
  </h1>
</div>

<div class="task-info">
  <span class="desc-info p-regular">Привет! Твоё тестовое задание — грамотно заверстать эту прекрасную страничку. В шапке страницы укажи своё ФИО, так всем будет удобнее. В менюхе под иконкой бургером мы хотели бы также видеть твои данные. Ну что, поехали?</span>
</div>
