<div class="ui">
  <h2 id="ui">
    UI
  </h2>
  <h3 class="p-lead ui-desc">Текстовое поле</h3>
  <div class="ui-element-container">
    <div class="text-fields">
      {{{textField}}}
    </div>
  </div>
  <div class="ui-element-container">
    <h3 class="p-lead">Выпадающий список</h3>
    <span class="p-regular ui-desc">Компонент состоит из текстового поля и выпадающей подсказки</span>
    <div class="dropdown-fields">
      {{{dropdownList}}}
    </div>
  </div>
  <div class="ui-element-container">
    <h3 class="p-lead">Кнопка</h3>
    <div class="text-fields">
      {{{button}}}
    </div>
  </div>
  <div class="ui-element-container">
    <h3 class="p-lead">Чекбокс, радиобаттон</h3>
    <div class="check-radio">
      <div class="check">
        {{{check}}}
      </div>
      <div class="radio">
        {{{radio}}}
      </div>
    </div>
  </div>
  <div class="ui-element-container">
    <h3 class="p-lead">Аккордеон</h3>
    {{{accordion}}}
  </div>
</div>
