.ui {
  display: grid;
  grid-column: 4 / -1;
  gap: 36px;
  @media (max-width: 1200px) {
    grid-column: 2 / 8;
  }

  @media (max-width: 736px) {
    grid-column: 1 / 5;
  }

  .ui-desc {
    grid-column: 1 / -1;
  }

  .ui-element-container {
    display: grid;
    grid-column: 1 / -1;
  }

  .text-fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 1em;
  }

  .dropdown-fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 1em;
    margin-bottom: 50px;
  }

  .check-radio {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 32px;

    .check {
      grid-column: 1 / 4;
    }

    .radio {
      grid-column: 5 / -1;
    }
  }
}
