.header-photo {
  display: grid;
  align-items: center;
  gap: 24px;
  grid-row: 1;
  grid-template-columns: auto 1fr;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.header-description {
  .name {
    font-weight: bold;
    margin-bottom: 0;
  }

  .surname {
    color: #7D7D7D;
  }
}
