<div class="header-photo">
  <img src="{{image}}" alt="Profile Photo">
  <div class="header-description">
    <div class="name p-small">Иванов</div>
    <span class="surname p-small">Иван Иванович</span>
  </div>
</div>
