<div class="menu">
  <div class="menu-content">
    <div class="menu-header">
      <button id="closeButton" data-action="click->header#closeMenu" class="close-button">&times;</button>
    </div>
    <div class="menu-body">
      <img src="{{backgroundImage}}" alt="Background Image" class="background-image">
      <div class="content">
        <img src="{{profileImage}}" alt="Profile Image" class="profile-image">
        <h2>Иванов</h2>
        <h2>Иван Иванович</h2>
        <span
          class="p-regular">Краткое описание. Например, студент 4 курса специальности «Прикладная информатика» в КемГУ</span>
        <span class="p-large">+7 (800) 555-35-35</span>
        <a class="p-regular" href="www.google.com">Ссылка на соцсеть/мессенджер</a>
      </div>
    </div>
  </div>
</div>
