.menu {
  margin-top: 40px;
  display: none;
  .menu-content {
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .menu-header {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
  }

  .close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #FFFFFF;
  }

  .menu-body {
    display: flex;
    padding: 8px;
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .content {
    padding: 20px;
    position: relative;
    z-index: 2;
    width: 50%;
    background: #FFFFFF;
  }

  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 48px;
  }
}
