.header-button {
  margin-left: auto;
  grid-row: 1;
  //@media (max-width: 1200px) {
  //  grid-column: 11 / 12;
  //}
  //
  //@media (max-width: 736px) {
  //  grid-column: 2;
  //}

  .menu-button {
    background: none;
    border: none;
    cursor: pointer;

    .menu-icon {
      display: block;
      width: 24px;
      height: 2px;
      background-color: black;
      position: relative;
    }

    .menu-icon::before,
    .menu-icon::after {
      content: '';
      display: block;
      width: 24px;
      height: 2px;
      background-color: black;
      position: absolute;
    }

    .menu-icon::before {
      top: -8px;
    }

    .menu-icon::after {
      top: 8px;
    }
  }
}
