<div class="checkbox-container" data-controller="checkbox">
  <input type="checkbox" id="{{id}}" class="custom-checkbox" data-action="change->checkbox#toggle">
  <label class="p-regular checkbox-label" for="{{id}}">{{label}}</label>
</div>
