/* styles/checkbox.scss */
.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox {
  display: none;
}

.checkbox-label {
  opacity: 80%;
}


.checkbox-label:hover {
  opacity: 100%;
}

.custom-checkbox:checked + .checkbox-label {
  opacity: 100%;
}

.custom-checkbox + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox + label::before {
  opacity: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #AEADAE;
  border-radius: 2px;
  background: white;
  transition: background 0.3s, border-color 0.3s;
}

.custom-checkbox:checked + label::before {
  background: #3E29E3;
  border-color: #3E29E3;
}

.custom-checkbox + label:hover::before {
  border-color: #3E29E3;
}

.custom-checkbox + label::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%) scale(0);
  width: 14px;
  height: 10px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 10"><path fill="none" stroke="%23fff" stroke-width="2" d="M1 5l3 3L12 1"/></svg>') center no-repeat;
  transition: transform 0.3s;
}

.custom-checkbox:checked + label::after {
  transform: translateY(-50%) scale(1);
}
