<div class="radio-container" data-controller="radio">
  <input id="{{id}}" type="radio" name="{{name}}" class="custom-radio" data-action="change->radio#toggle">
  <label class="p-regular radio-label" for="{{id}}">{{label}}</label>
</div>
