/* styles/radio.scss */
.radio-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-radio {
  display: none; /* Скрыть оригинальный радиокнопку */
}

.custom-radio + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.custom-radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background: white;
  transition: border-color 0.3s;
}

.radio-label {
  opacity: 80%;
}

.radio-label:hover {
  opacity: 100%;
}

.custom-radio:checked + .radio-label {
  opacity: 100%;
}

.custom-radio:checked + label::before {
  border-color: #3E29E3;
}

.custom-radio + label:hover::before {
  border-color: #3E29E3;
}

.custom-radio + label::after {
  content: "";
  opacity: 100%;
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%) scale(0);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #3E29E3;
  transition: transform 0.3s;
}

.custom-radio:checked + label::after {
  transform: translateY(-50%) scale(1);
}
